body {
  font-family: "Open Sans", serif;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  height: 4rem;
}

.header-container .name {
  flex-grow: 2;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.nav-links {
  display: flex;
  justify-content: right;
}

.nav-links nav {
  padding-left: 1rem;
}

.link {
  text-decoration: none;
  color: #000;
  transition: color 0.5s ease;
}

.link:hover {
  color: rgb(162, 0, 255);
}

.brief {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.brief>h2 {
  font-size: 4rem;
  font-weight: lighter;
  margin-right: 10rem;
  width: 70%;
}

.intro {
  display: flex;
  justify-content: space-around;
  margin-right: 1rem;
}

.intro>h4 {
  font-weight: lighter;
  font-size: 2rem;
}

.intro>img {
  justify-self: start;
  height: 300px;
  width: 300px;
  margin-right: 1rem;
}

/* --------- footer begin --------- */
.footerGridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.footerFirstColumn,
.footerSecondColumn,
.footerThirdColumn {
  display: flex;
  margin-top: 2rem;
}

.footerFirstColumn {
  justify-content: start;
}

.footerSecondColumn {
  justify-content: center;
}

.footerThirdColumn {
  justify-content: end;
}

.footerNav>nav,
.footerNavSocial>nav {
  padding-bottom: 2rem;
}

.footerNavSocial>nav {
  text-align: end;
}

.footerName {
  height: auto;
  letter-spacing: 0.2em;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.copywriteContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

/* --------- footer end --------- */

/*
.hamburger-icon {
  display: none;
}

// Media query for mobile devices
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .hamburger-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
} */